:root {

    --darker-purple: #3A3F5C;
    --dark-purple: #31333B;
    --med-dark-purple: #3A3F5C;
    --med-purple: #434D7F;

    --lighter-yellow: #FFD334;
    --light-yellow: #FCC52C;

    --lighter-green: #5CE36A;
    --light-green: #42C935;


}
