/*  ==========================================================================
    Vendor Imports
    ========================================================================== */
@import "normalize.css";
@import url(vendor/html5bp-defaults.css);
@import url(vendor/html5bp-helpers.css);

/* ==========================================================================
   Our Imports
   ========================================================================== */

/*@import url(fonts.css);*/

@import url(colors.css);





/* --------------------------------------------------------------------------
   Component Styles
   -------------------------------------------------------------------------- */
body {

  background-color: var(--light-blue);
  color: var(--off-black);

}


#App {
  background-color: var(--dark-blue);
  display: flex;
}


/* Items */

ul.hasItems {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  cursor: pointer;
  margin-left: 1em;
}

#dose-forms {margin-left: 0}
#dose-forms > ul > .item {margin-left:0;}

.expandable > .item__name {
  font-weight: bold;
}
.item__wrapper {
  display: flex;
  background-color: #fff;
  box-shadow: 2px 2px rgba(0,0,0,0.5);
  margin: .25em 0;
}
.item__wrapper:hover {
  background-color: var(--off-white)
}
.item__wrapper.expanded {
  background-color: var(--off-white)
}

.item__wrapper.active {
  background-color: var(--light-green);
  color:#fff;
}

.item__name {
  flex-grow:1;
  padding: .5em;
}

.isTop {
  display:none;
}

.expand-contract {
  cursor: pointer;
  background-color: var(--off-white);
  border:none;
  outline: none;
  border-radius: 0;

  width:48px;
}

/* Navigation View*/

#NavigationView {
  width: 40%;
  background-color: var(--dark-blue);
  padding-left: .25em;
  padding-right: .25em;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
}






body {padding: 2em;}
#vue {
  height: 100%;
  background-color: #fff;
  border: 2px solid var(--dark-blue);
  box-shadow: 2px 2px 1px rgba(0,0,0,0.25);
}

#App {
  height: 100%;
  overflow:hidden;
}

/*Info View*/
#InfoView {
  background-color: var(--light-green);
  width: 60%;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
  /*display: flex;
  flex-direction: column;*/
}

#InfoView > .component {
  padding:1em;
}

#InfoView > div:last-child {
  /*flex-grow: 1;*/
}
#InfoView > .component:nth-child(odd) {
  background-color: #f7f8f9
}

#InfoView > .component:nth-child(even) {
  background-color: #fffefa
}

h2 {
  margin:0;
  font-weight: 300;
  color: var(--off-black);
  border-bottom: 1px solid var(--blue-grey);
}
/* Info View Header------------------------------------------------ */

#InfoViewHeader {
  background-color: var(--light-green)!important;
  color: #fff;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
  font-weight: 300;
  line-height: 110%;
}

/* Description  ------------------------------------------------- */
#RenderedDescription {
  border-bottom: 2px solid black;
}

.markdown-content p {
  max-width: 35em
}



/* Label -------------------------------------------------------- */
#PharmacyLabel {
  background-color: #fafafa;
  border-bottom: 2px solid var(--off-black);
  padding-bottom: 0!important;
}

.label-example {
  background-color: var(--light-blue);
  padding: 1em;
  margin-left: -1em;
  margin-right: -1em;
}

.label-example > h3 {
  margin-top: 0;
  color: #fff;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
  text-transform: uppercase;
  font-size: 1em;
}
.label-example__sample {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 12px;
}

.labelDose, .labelFrequency {
  cursor: pointer;
}


.label-meta {
  padding: 1px;
  background-color: #ffdd91;
  position: relative;
  display: inline-block;
}

.label-meta::after {
  font-size: .6em;
  position: absolute;
  top: -50%;
  left: 0;
  text-transform: uppercase;
  
  text-align: center;
  background-color: white;
  display: inline-block;
  padding: 2px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: black;
  color: #fff;
}

/* Advice to Client ---------------------------------------------- */
#AdviceToClient {

}


/* Sub Types ----------------------------------------------------- */
.subtypes {
  background-color: var(--light-green);
  margin-bottom: 0;
  padding: 1em;
}

.subtypes h2 {
  border-bottom: none;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,0.25);
  text-transform: uppercase;
  margin-bottom:1em;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight:bold;
}




/* ==========================================================================
   misc 
   ========================================================================== */
.toggler {user-select: none; cursor: pointer;}
.toggler.isHidden {border-bottom:none; font-weight:bold; margin-bottom:.5em;}
.toggleStatus {font-weight: bold; }


* {box-sizing: border-box;}
html, body {height:100%;}
body {font-family: "Lato", sans-serif;}

/* Media Queries */
.mobile-nav {
  background-color: var(--off-white);
  border: none;
  border-radius: 2px;
  line-height: 2em;
  padding: 0 1em;
  text-align: center;
  cursor: pointer;
  display: none;
  font-family: Lato;
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}

button.mobile-nav:focus {
  outline: none!important;
}


#App {
  position: relative;
}
@media only screen and (max-width: 700px) {
  .mobile-nav {
    display: block;
  }
  body {
    padding: 0;
    background-color: #eee;
  }
  #App {
    flex-direction: column;
  }

  #InfoView { 
    width: 100%;
    flex: 1;
  }

  #NavigationView {
    width: auto;
    height: auto;
    padding: 10px;
  }
  #NavigationViewContent {
    display: none;
  } 

  #NavigationView.expanded {
    z-index: 10;
    flex-grow:1;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #NavigationView.expanded #NavigationViewContent {
    display: block;
    
    
  }

  #InfoView {
    flex-grow:1;
  }
}
